.alarm-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.alarm-view h2 {
    font-size: 2rem;
    color: white;
}

.alarm-view button {
    background-color: black;
    color: white;
    width: 170px;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 0.5rem;
}

.alarm-icon {
    width: 55px; 
    height: 55px; 
    margin-bottom: 20px; 
}